@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');
:root {
    --primary-color: #7D5A3B;
    --secondary-color: #1E3F4A;
    --accent1-color: #F9F0E1;
    --accent2-color: #366DA6;

    --heading-font: 'Roboto', sans-serif;;
    --paragraph-font: 'PT Serif', serif;;

    --nav-background-color: #7D5A3B;
    --nav-link-color: #F9F0E1;
    --nav-hover-link-color: #34312D;
    --nav-hover-background-color: #366DA6;
}
* {
    margin: 0;
    padding: 0;
}
body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: #9f5500;
    padding-left: 10px;
}
h2 {
    margin: 2rem 0 .3rem 0;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
}
p {
    font-family: var(--paragraph-font);
    padding: 10px;
}
header {
    display: grid;
    align-items: center;
}
header img{
    grid-column: 1/2;
}
header nav {
    grid-column: 4/7;
    display: flex;
    justify-content: space-around;
}
footer {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 1rem;
    align-items: center;
}
footer p {
    grid-column: 2/6;
}
figure {
    margin: 1rem;
}
figcaption {
    text-align: center;
}
/* Class Selectors */
.social {
    grid-column: 6/7;
    text-align: left;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    color: white;
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}
.hero article {
    background-color: #0853a381;
    position: absolute;
    width: 600px;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
}
.hero article img {
    width: 200px;
    float: right;
    opacity: 0.6;
}
.hero article p {
    color: white;
}
.adventure img {
    width: 500px;
}
.social img {
    width: 50px;
    text-decoration: none;
}
.history {
    text-align: center;
}
.history h2 {
    text-align: center;
}
.history div {
    display: flex;
    justify-content: space-evenly;
}
.history div p {
    width: 200px;
}
.history div img {
    height: 200px;
    width: auto;
}
.adventure div {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}
.adventure h2 {
    text-align: center;
}
.adventure div img {
    width: 180px;
    height: auto;
}