@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');
:root {
    --primary-color: #7D5A3B;
    --secondary-color: #1E3F4A;
    --accent1-color: #F9F0E1;
    --accent2-color: #366DA6;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'PT Serif', serif;

    --nav-background-color: #7D5A3B;
    --nav-link-color: #F9F0E1;
    --nav-hover-link-color: #34312D;
    --nav-hover-background-color: #366DA6;
}
* {
    margin: 0;
    padding: 0;
}
.width-1024 {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: #9f5500;
    padding-left: 10px;
}
h2 {
    margin: 2rem 0 .3rem 0;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
}
p {
    font-family: var(--paragraph-font);
    padding: 10px;
}
header {
    min-width: 1024px;
    display: grid;
    align-items: center;
}
header img{
    grid-column: 1/2;
}
header nav {
    grid-column: 4/7;
    display: flex;
    justify-content: space-around;
}
footer {
    min-width: 1024px;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 1rem;
    align-items: center;
}
footer a {
    grid-column: 1/2;
    text-align: left;
}
footer p {
    grid-column: 2/6;
}
figure {
    margin: 1rem;
}
.flex-container figure img {
    width: 355px;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1.5em;
    background-color: #eee;
    display: grid;
}
fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
}
label, input, button, select, textarea {
    font-family: var(--paragraph-font);
}
label {
    text-align: right;
    padding-right: 1rem;
}
input, select, textarea {
    padding: 0.5rem;
    font: 1.1rem;
}
input[type="checkbox"] {
    width: 22px;
    height: 22px;
}
button {
    margin: auto;
    background-color: navy;
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    width: fit-content;
}
button:hover, .button:hover {
    background-color: darkgreen;
}
table {
    font-size: larger;
    margin: 0 auto;
    width: 500px;
    
}
th {
    background-color: navy;
    color: white;
}
td {
    border: 2px solid rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
}
caption {
    font-weight: bold;
    font-size: x-large;
}
ul {
    margin: 0 auto;
    width: 500px; 
}
li {
    margin: 1rem;
}
/* Class Selectors */
.horizontal-flex figcaption {
    text-align: center;
}
.social {
    grid-column: 6/7;
    text-align: left;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    color: white;
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}
.hero article {
    background-color: #0853a381;
    position: absolute;
    width: 675px;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0);
}
.hero article img {
    width: 250px;
    float: right;
    opacity: 0.6;
}
.hero article p {
    color: white;
}
.contact-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.horizontal-flex img {
    width: 500px;
}
.social img {
    width: 50px;
    text-decoration: none;
}
.history {
    text-align: center;
}
.history h2 {
    text-align: center;
}
.history div {
    display: flex;
    justify-content: space-evenly;
}
.history div p {
    width: 200px;
}
.history div img {
    height: 200px;
    width: auto;
}
.horizontal-flex div {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}
.horizontal-flex h2 {
    text-align: center;
}
.horizontal-flex div img {
    width: 180px;
    height: auto;
}
.form-item {
    display: grid;
    text-align: center;

}
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}
.radio {
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.radio label {
    text-align: right;
    grid-column: 1/3;
}
.radio input {
    grid-column: 3/4;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}
.flex-container h2 {
    margin-bottom: -.5rem;
}
.flex-container p {
    text-align: left;
    max-width: 400px;
}
.flex-container figcaption {
    margin-top: 1rem;
    width: 355px;
    height: auto;
}
.button {
    margin: 1rem;
    display: flex;
    background-color: navy;
    color: white;
    border: none;
    width: 300px;
    border-radius: .5rem;
    height: 50px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}
.grid-container {
    min-width: 1024px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.grid-container img {
    width: 100%;
    height: auto;
}
.right {
    text-align: right;
}
.grid-left {
    grid-column: 1/4;
}
.grid-right {
    grid-column: 4/7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.full-width img {
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: relative;
}
.full-width h1 {
    color: white;
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.4);
    position: absolute;
    top: 280px;
    left: 30px;
    width: 400px;
}
.grid-item-left, .grid-item-right {
    border: 1px solid #ccc;
    padding: 20px;
}
.grid-item-left {
    grid-column: 1/4;
    margin: 1rem;
}
.grid-item-right {
    grid-column: 4/7;
    margin: 1rem;
}
.newsletter form {
    width: auto;
    margin: 1rem;
}