@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');
:root {
    --primary-color: #7D5A3B;
    --secondary-color: #1E3F4A;
    --accent1-color: #F9F0E1;
    --accent2-color: #366DA6;

    --heading-font: 'Roboto', sans-serif;;
    --paragraph-font: 'PT Serif', serif;;

    --nav-background-color: #7D5A3B;
    --nav-link-color: #F9F0E1;
    --nav-hover-link-color: #34312D;
    --nav-hover-background-color: #366DA6;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--nav-hover-link-color);
}
header {
    padding: 20px;
    background-color: var(--accent2-color);
}
p {
    padding: 10px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
