* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: navy;
    padding: 1rem;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
}
h1 {
    color: navy;
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px navy solid;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid navy;
    padding: 2px;
    margin: 1rem;
    margin-top: 0;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 1rem;
    padding-top: 0;
}
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 20rem;
    padding-top: 1rem;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    color: white;
    position: absolute;
}
aside p {
    padding-top: 1rem;
}
footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}
li {
    margin: 1rem;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding-left: 1rem;
    background-color: #eeeeee9a;
    color: black;
}
.grid {
    display: grid;
    align-items: center;
}