* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: steelblue;
    padding: 1rem;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
}
h1 {
    color: steelblue;
    padding: 1rem;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    margin-left: 1rem;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 1rem;
    padding-top: 0;
}
main {
    max-width: 840px;
}
aside {
    position: relative;
    width: 500px;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
    position: absolute;
    left: 210px;
}
aside p {
    padding-top: 10px;
}
footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}
li {
    padding: 5px;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #ddd;
    color: black;
}